:root {
    --green: hsl(75, 94%, 57%);
    --grey700: hsl(0, 0%, 20%);
    --grey800: hsl(0, 0%, 12%);
    --grey900: hsl(0, 0%, 8%);
    --white: hsl(0, 0%, 100%);
}

@font-face {
    font-family: Inter;
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

* {
    font-family: Inter;
    color: var(--white);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--grey900);
}

main {
    display: flex;
    justify-content: center;
    min-height: 600px;
    margin-top: 10%;
}

.cardContainer {
    background-color: var(--grey800);
    min-width: fit-content;
    min-height: fit-content;
    width: 325px;
    display: flex;
    flex-direction: column;
    margin: auto 0;
    border-radius: .75rem;
}

.topContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 1rem auto;
}

img {
    border-radius: 20rem;
    width: 80px;
    height: auto;
    position: relative;
    margin: 0 auto;
}

.bottomContainer {
    height: auto;
}

h1 {
    font-weight: 500;
    margin-bottom: 0;
    width: 94%;
    align-self: center;
}

p {
    margin-top: .5rem;
    font-size: 14px;
}

figcaption {
    width: 100%;
    margin: 1rem 0;
    font-size: 14px;
}

ul {
    list-style-type: none;
    display:contents;
}

li {
    max-width: 500px;
    min-width: fit-content;
    border-radius: .5rem;
    min-height: 45px;
    margin: 0 1.5rem;
    margin-bottom: 1.5rem;
    background-color: var(--grey700);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: 600;
}

li a {
    text-decoration: none;
    height: 44px;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li:hover{
    background-color: var(--green);
}

li a:hover {
    color: hsl(0, 0%, 8%);
}

.userLocation {
    color: var(--green);
    font-weight: 800;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin: 1.25rem auto;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}